body {
  background-color: #2a2828;
}

.window {
  background-color: #1e1e1e;
  position: absolute;
  color: #c8c8c8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #444444;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 30px 50px 30px;
  width: 70%;
}

/* #login {
} */

.window input {
  border-color: #444444;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  color: #c8c8c8;
}

.window input[type='button'] {
  border: #444444;
  width: 100%;
  background-color: #f5f5f5;
  color: #111111;
}

.window input[type='button']:active {
  background-color: #a1a1a1;
}

.window a {
  color: #ffffff;
  text-decoration: underline;
}

#datedListWrapper,
#undatedListWrapper,
#filtererWrapper {
  background: #1b1b1b;
  color: #c8c8c8;
  position: absolute;
  border-radius: 15px;
}

#datedList,
#undatedList {
  position: absolute;
  bottom: 0;
  width: 85%;
  margin: 0px 7.5%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

#datedList {
  height: 85.5vh;
}

#undatedList {
  height: 61.75vh;
}

#filterer {
  width: 90%;
  margin: 0px 5%;
  height: 13.5vh;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}

:is(#datedList, #undatedList) .tripleDots {
  position: absolute;
  top: 50%;
  right: 7.5px;
  transform: translateY(-50%) scale(1.25);
}

:is(#datedList, #undatedList) input[type='checkbox'] {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%) scale(1.25);
}

:is(#datedList, #undatedList, #filterer) :is(h3, h4, h5, p) {
  margin: 5px 0px;
  color: inherit;
}

.taskListWrapper {
  position: relative;
  display: flex;
  min-height: 0;
}

.taskList {
  overflow: auto;
  flex-grow: 1;
}

.taskList div {
  border: solid;
  border-color: #a1a1a1;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px 10px;
  position: relative;
  margin: 10px 0px;
}

.taskList :is(h3, h4, h5, p) {
  width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.addTask {
  position: absolute;
  font-size: 2em;
  top: -1.5em;
  border: none;
  right: 7.5px;
  padding: 0;
  margin: 0;
}

#filterer select {
  background: inherit;
  color: inherit;
  display: inline;
  width: auto;
}

#datedListWrapper {
  width: 46.25vw;
  height: 90vh;
  top: 5vh;
  left: 2.5vw;
}

#undatedListWrapper {
  width: 46.25vw;
  height: 65vh;
  top: 30vh;
  right: 2.5vw;
}

#filtererWrapper {
  width: 41.25vw;
  height: 15vh;
  top: 10vh;
  right: 5vw;
}

#darkenBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

#accountCircle,
#settingsGear {
  position: absolute;
  top: 20px;
  width: 35px;
  height: 35px;
}

#accountCircle:hover,
#settingsGear:hover,
:is(#datedList, #undatedList) :is(input[type='checkbox'], .tripleDots):hover,
.addTask:hover,
a:hover,
#cross:hover {
  cursor: pointer;
  filter: brightness(1.15);
}

#accountCircle:active,
#settingsGear:active,
:is(#datedList, #undatedList) :is(input[type='checkbox'], .tripleDots):active,
.addTask:active,
a:active,
#cross:active {
  filter: brightness(0.8);
}

#accountCircle {
  right: 20px;
}

#settingsGear {
  right: 65px;
}

.checkedTask {
  text-decoration: line-through;
  filter: brightness(0.5);
}

#cross {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
}

.unselectableText {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
