body {
  background: #1b1b1b;
}

#login {
  background-color: #1e1e1e;
  width: 700px;
  position: absolute;
  color: #c8c8c8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #444444;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 30px 50px 30px;
}

#login input {
  border-color: #444444;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  color: #c8c8c8;
}

#login input[type='button'] {
  border: #444444;
  width: 100%;
  background-color: #f5f5f5;
  color: #111111;
}

#login input[type='button']:active {
  background-color: #a1a1a1;
}

#login a {
  color: #ffffff;
  text-decoration: underline;
}
