body {
  background-color: #2a2828;
}

input {
  color-scheme: dark;
}

.window {
  background-color: #1e1e1e;
  position: absolute;
  color: #c8c8c8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #444444;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 30px 50px 30px;
  width: 70%;
}

.window h1 {
  color: inherit;
}

.window input,
.window textarea,
.window .tagListWrapper,
#filterer .tagListWrapper {
  border-color: #444444;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  color: #c8c8c8;
}

.window input[type='button'] {
  border: #444444;
  width: 100%;
  background-color: #f5f5f5;
  color: #111111;
}

.window input[type='button']:active {
  background-color: #a1a1a1;
}

.window input[type='button'].redButton {
  background-color: #8b0000;
  color: #f5f5f5;
}

.window input[type='button'].redButton:active {
  background-color: #670000;
}

.window a {
  color: #ffffff;
  text-decoration: underline;
}

#createTask label {
  margin: 0.5rem 0 0.25rem;
}

#confirmation {
  width: 50%;
  padding-bottom: 30px;
}

#confirmation input[type='button'] {
  width: 20%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 20px;
}

#datedListWrapper,
#undatedListWrapper,
#filtererWrapper {
  background: #1b1b1b;
  color: #c8c8c8;
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
}

#datedList,
#undatedList {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

#datedList {
  height: 85.5vh;
}

#undatedList {
  height: 61.75vh;
}

#filterer {
  width: 90%;
  margin: 0 5%;
  height: auto;
  max-height: calc(100% - 10px);
  overflow: auto;
  overflow-wrap: break-word;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#filterer div {
  width: fit-content;
  display: inline-block;
  margin-right: 10px;
}

:is(#datedList, #undatedList) .tripleDots {
  position: absolute;
  top: 50%;
  right: 7.5px;
  transform: translateY(-50%) scale(1.25);
}

:is(#datedList, #undatedList) input[type='checkbox'] {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%) scale(1.25);
}

:is(#datedList, #undatedList, #filterer) :is(h3, h4, h5, p) {
  margin: 5px 0px;
  color: inherit;
}

:is(#datedList, #undatedList, #filterer) > :is(h3, h4, h5, p) {
  margin: 5px 7.5%;
}

:is(#datedList, #undatedList, #filterer) :is(.description, .time, .location) {
  margin: 0px;
}

:is(#datedList, #undatedList, #filterer) .description {
  color: #888888;
}

.taskListWrapper {
  position: relative;
  flex: 1;
  min-height: 0;
}

.taskList {
  overflow: auto;
  height: 100%;
}

.taskList .task,
.tag {
  border: solid;
  border-color: #a1a1a1;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px 10px;
  position: relative;
  margin: 10px 7.5%;
}

.selectedTag {
  background-color: #c8c8c8;
  color: #1b1b1b;
  font-weight: bold;
}

.taskList :is(h3, h4, h5, p) {
  width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tagListWrapper {
  padding-left: 5px;
}

.tagList {
  width: calc(100% - 50px);
  margin-bottom: 5px;
}

.tagList .tag,
#filterer .tagList .tag {
  padding: 5px;
  margin: 5px 5px 0px 0px;
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  vertical-align: top;
}

.tagList .addTag,
#filterer .tagList .addTag {
  font-weight: 700;
  filter: brightness(0.5);
  display: none;
}

.tagList:hover .addTag,
.tagListWrapper .tagList .addTag,
#filterer .tagList:hover .addTag {
  display: inline-block;
}

.emptyListText {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.addTask {
  position: absolute;
  font-size: 2em;
  top: -1.5em;
  border: none;
  right: calc(7.5px + 7.5%);
  padding: 0;
  margin: 0;
}

#filterer select {
  background: inherit;
  color: inherit;
  display: inline;
  width: auto;
}

#datedListWrapper {
  width: 46.25vw;
  height: 90vh;
  top: 5vh;
  left: 2.5vw;
}

#undatedListWrapper {
  width: 46.25vw;
  height: 65vh;
  top: 30vh;
  right: 2.5vw;
}

#filtererWrapper {
  width: 41.25vw;
  height: 15vh;
  top: 10vh;
  right: 5vw;
}

#darkenBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#accountCircle,
#settingsGear {
  position: absolute;
  top: 20px;
  width: 35px;
  height: 35px;
}

#accountDropdown {
  position: fixed;
  top: 70px;
  right: 20px;
  left: auto;
  transform: none;
  width: 300px;
  max-width: 30vw;
  padding: 1rem;
  background-color: #222;
  color: white;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.username-display {
  overflow: visible;
  white-space: normal;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  z-index: 10;
}

#accountCircle:hover,
#settingsGear:hover,
:is(#datedList, #undatedList) :is(input[type='checkbox'], .tripleDots):hover,
.addTask:hover,
a:hover,
#cross:hover,
.tag:hover,
.editableTag,
#changeDate:hover {
  cursor: pointer;
  filter: brightness(1.25);
}

#accountCircle:active,
#settingsGear:active,
:is(#datedList, #undatedList) :is(input[type='checkbox'], .tripleDots):active,
.addTask:active,
a:active,
#cross:active,
.tag:active,
#changeDate:active {
  filter: brightness(0.8);
}

#accountCircle {
  right: 20px;
}

#settings {
  width: 600px;
  max-width: 70vw;
}

#settingsGear {
  right: 65px;
}

.checkedTask {
  text-decoration: line-through;
  filter: brightness(0.5);
}

#cross {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
}

#changeDate {
  cursor: pointer;
  position: relative;
  width: fit-content;
  font-size: 0.75rem;
  margin-left: 7.5%;
  text-decoration: underline;
}

#changeDate input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#date,
#time {
  width: fit-content;
  display: inline;
  margin-right: 8px;
  margin-bottom: 0;
}

#date:invalid,
#time:invalid {
  border-color: #a10000;
}

#changeDate input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.unselectableText {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
